{
  "rabbitmq": {
{{- if (has .Env "SENSU_SSL") }}
    "ssl": {
      "cert_chain_file": "{{ .Env.SENSU_CLIENT_CERT }}",
      "private_key_file": "{{ .Env.SENSU_CLIENT_KEY }}"
    },
    "port": 5671,
{{- else }}
    "port": 5672,
{{- end }}
    "host": "{{ .Env.SENSU_PORT_5672_TCP_ADDR }}",
    "user": "{{ .Env.SENSU_RABBITMQ_CLIENT_USER }}",
    "password": "{{ .Env.SENSU_RABBITMQ_CLIENT_PASS }}",
    "vhost": "{{ .Env.SENSU_RABBITMQ_VHOST }}"
  }
}
